body {
  margin: 24px;
  padding: 24px;
  background-color: var(--main-black);
}

.container {
  display: flex;
  width: 100%;
}
.sticky-container {
  position: sticky;
}

.column {
  flex: 1;
  padding: 20px;
}

.column:nth-child(odd) {
  background-color: var(--main-blue);
}

.column:nth-child(even) {
  background-color: var(--main-pink);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    padding: 10px;
  }
}

header {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 3rem;
  color: var(--main-white);
  margin-bottom: 20px;
}

subHeader {
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: var(--main-white);
}

p {
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--main-gray);
}
