body {
  margin: 24px;
  padding: 24px;
  background-color: var(--main-black);
}

.container {
  display: flex;
  width: 100%;
}
.sticky-container {
  position: sticky;
}

.column {
  flex: 1;
  padding: 20px;
}

.column:nth-child(odd) {
  /* background-color: var(--main-blue); */
}

.column:nth-child(even) {
  background-color: var(--main-pink);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    padding: 10px;
  }
}

header {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 3rem;
  color: var(--main-white);
  margin-bottom: 20px;
}

subHeader {
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: var(--main-white);
}

p {
  font-family: var(--main-font);
  font-size: 1rem;
  color: var(--main-gray);
  padding-bottom: 50px;
}

/* Nav */

.navigation-container {
  padding: 10px;
  font-family: var(--main-font);
  /* border: 1px solid red; */
  /* border-radius: 10px; */
}

.navigation-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative; /* Add position relative to the container */
}

.navigation-container nav ul li {
  margin-bottom: 5px;
}

.navigation-container nav ul li a {
  text-decoration: none;
  color: var(--main-white);
  font-weight: bold;
  transition: 0.2s;
}

.navigation-container nav ul li a:hover,
.navigation-container nav ul li.active a {
  color: var(--main-blue);
}

.navigation-container nav ul li.active a {
  color: var(--main-blue);
  font-weight: bold;
  transition: 0.6s;
  margin-left: 75%;
  line-height: 1em;
}
