body {
  margin: 24px;
  padding: 24px;
  background-color: var(--main-black);
}

.container {
  display: flex;
  width: 100%;
  position: sticky;
}

.column {
  flex: 1;
  padding: 24px;
}

.column:nth-child(odd) {
  /* background-color: var(--main-blue); */
  min-height: 100vh;
  position: sticky;
  top: 0;
}

.column:nth-child(even) {
  background-color: var(--main-pink);
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .column {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .column {
    padding: 16px;
  }
}

.stick {
  position: sticky;
  top: 80px;
}

header {
  font-family: var(--main-font);
  font-weight: bold;
  font-size: 3rem;
  color: var(--main-white);
  margin-bottom: 24px;
}

subHeader {
  font-family: var(--main-font);
  font-size: 1.5rem;
  color: var(--main-white);
}

/* Nav */

.navigation-container {
  padding: 8px;
  font-family: var(--main-font);
  border-left: solid 2px var(--main-blue);
}

.navigation-container nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}

.navigation-container nav ul li {
  margin-bottom: 8px;
}

.navigation-container nav ul li a {
  text-decoration: none;
  color: var(--main-white);
  font-weight: bold;
  display: block;
  transition: 0.6s;
  transform-origin: left;
}

.navigation-container nav ul li a:hover,
.navigation-container nav ul li.active a {
  color: var(--main-blue);
  transition: 0.6s;
  margin-left: 8px;
  transform-origin: left;
}

.navigation-container nav ul li.active a {
  color: var(--main-blue);
  font-weight: bold;
  transition: 0.6s;
  margin-left: 24px;
  position: relative;
  max-width: 500px;
  transform: scale(1.5);
}

/* Socials */

.socials {
  position: fixed;
  bottom: 24px;
}

.socialButton {
  color: var(--main-white);
  font-size: 3rem;
  left: 0;
  margin-right: 16px;
  transition: 0.3s;
  display: inline-flex;
  text-decoration: none;
}

.socialButton:hover {
  color: var(--main-blue);
  transform: translateY(-10px);
}
